@model IEnumerable<DatabaseAccess.tblAccountControl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountHeadID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountControlName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblBranch.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUser.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblCompany.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountHeadID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountControlName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblBranch.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUser.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCompany.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountControlID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountControlID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountControlID })
        </td>
    </tr>
}

</table>
